body {
    background-color:#FF5733;
    font-family: Arial, sans-serif;
    
}

h1 {
    margin-bottom: 30px;
    color:#3361FF;
}
h2{
	.emphasized { font-style: italic; }
	.underlined {text-decoration: underline;}
}
h4{
	color: #FFF;
}

button {
    font-size: 18px;
    padding: 15px;
}

aside{
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	margin-top:5px;
	font-style: italic;
	background-color: lightgray;
}